

<div class="editor-row">

    <div class="section gf-form-group">
        <h5 class="section-heading">Display</h5>

        <div class="gf-form">
          <label class="gf-form-label width-14">Row Height</label>
          <input type="number" ng-model="ctrl.panel.rowHeight" class="gf-form-input max-width-5" ng-blur="ctrl.render()" min="1"/>
        </div>
        <div class="gf-form">
          <label class="gf-form-label width-14">Text Size</label>
          <input type="number" ng-model="ctrl.panel.textSize" class="gf-form-input max-width-5" ng-blur="ctrl.render()" min="1"/>
        </div>
        <div class="gf-form">
          <label class="gf-form-label width-14">Time Text Size</label>
          <input type="number" ng-model="ctrl.panel.textSizeTime" class="gf-form-input max-width-5" ng-blur="ctrl.render()" min="1"/>
        </div>

 
        <gf-form-switch class="gf-form"
          label="Write Last Value"
          label-class="gf-form-label width-14"
          checked="ctrl.panel.writeLastValue"
          on-change="ctrl.onConfigChanged()"></gf-form-switch>

        <gf-form-switch class="gf-form"
          label="Write Metric Names"
          label-class="gf-form-label width-14"
          checked="ctrl.panel.writeMetricNames"
          on-change="ctrl.onConfigChanged()"></gf-form-switch>

        <gf-form-switch class="gf-form"
          label="Write All Values"
          label-class="gf-form-label width-14"
          checked="ctrl.panel.writeAllValues"
          on-change="ctrl.onConfigChanged()"></gf-form-switch>
    </div>

    <div class="section gf-form-group">
      <h5 class="section-heading">Hover and Query</h5>
      <gf-form-switch class="gf-form"
          label="Highlight on Hover"
          label-class="gf-form-label width-14"
          checked="ctrl.panel.highlightOnMouseover"
          on-change="ctrl.onConfigChanged()"></gf-form-switch>
      <div class="gf-form">
          <label class="gf-form-label width-12">Expand 'from' query
            <info-popover mode="right-normal">This will expand the query to include time before the normal query range</info-popover>
          </label>
          <input type="number" ng-model="ctrl.panel.expandFromQueryS" class="gf-form-input max-width-5" ng-blur="ctrl.onConfigChanged()" min="0" />
          &nbsp; Seconds
        </div>
    </div>

    <div class="section gf-form-group">
      <h5 class="section-heading">Advanced Settings</h5>
      <div class="gf-form">
        <label class="gf-form-label width-14">Header Indent
          <info-popover mode="right-normal">Specify the indent (in pixels) that is used on the left of the visualization. <br>
            The indention is used for row headers. <br>
            With this setting, overlapping of headers and the visualization of metric data can be avoided. 
          </info-popover>
        </label>
        <input type="number" ng-model="ctrl.panel.headerColumnIndent" class="gf-form-input max-width-5" ng-blur="ctrl.render()" min="0"/>
      </div>

      <div class="gf-form">
        <label class="gf-form-label width-14">Top offset
            <info-popover mode="right-normal">Specify the offset at the top (in pixels) for the panel. 
            </info-popover>
        </label>
        <input type="number" ng-model="ctrl.panel.topOffset" class="gf-form-input max-width-5" ng-blur="ctrl.render()" min="0"/>
      </div>
      
      <gf-form-switch class="gf-form"
        label="Show Time Axis"
        label-class="gf-form-label width-14"
        checked="ctrl.panel.showTimeAxis"
        on-change="ctrl.onConfigChanged()"
        tooltip="Show time axis at the bottom of the metric visualization.">
        </gf-form-switch>

      <gf-form-switch class="gf-form"
        label="Use Display Series (DS)"
        label-class="gf-form-label width-14"
        checked="ctrl.panel.useDisplaySeries"
        on-change="ctrl.onConfigChanged()"
        tooltip="If enabled, the values of the second metric-series (from the query) are used for labeling the bars in the visualization.">
      </gf-form-switch>
      
      <div class="gf-form">
        <label class="gf-form-label width-14">Num Extra Metrics (EM)
            <info-popover mode="right-normal">Specify the number of additional metrics in the query. 
              <br>This number must not include the main (first) metric and (if enabled) the display metric.
              <br>Additional metrics can be used for generating a dynamic, value-dependent on-click Link URL (see 'On-Click Settings').
            </info-popover>
        </label>
        <input type="number" ng-model="ctrl.panel.additionalColumns" class="gf-form-input max-width-5" ng-blur="ctrl.render()" min="0"/>
      </div>

      <gf-form-switch ng-if="ctrl.panel.useDisplaySeries" class="gf-form"
        label="DS Value Mapping"
        label-class="gf-form-label width-14"
        checked="ctrl.panel.valueMappingForDisplaySeries"
        on-change="ctrl.onConfigChanged()"
        tooltip="If enabled, the value mapping defined in the 'Mappings' tab is also applied on the values of the display series (second metric in the query).">
      </gf-form-switch>

      <gf-form-switch ng-if="ctrl.panel.additionalColumns > 0" class="gf-form"
        label="EM Value Mapping"
        label-class="gf-form-label width-14"
        checked="ctrl.panel.valueMappingForExtraColumns"
        on-change="ctrl.onConfigChanged()"
        tooltip="If enabled, the value mapping defined in the 'Mappings' tab is also applied on the values of the additional metrics (excluding main metric and display metric).">
      </gf-form-switch>

      <gf-form-switch class="gf-form"
        label="Template Vars Mapping"
        label-class="gf-form-label width-14"
        checked="ctrl.panel.valueMappingForTemplateVars"
        on-change="ctrl.onConfigChanged()"
        tooltip="If enabled, the value mapping defined in the 'Mappings' tab is also applied on the values of the template variables.">
      </gf-form-switch>
    </div>

    <div class="section gf-form-group">
      <h5 class="section-heading">On-Click Settings</h5>
      <gf-form-switch class="gf-form"
      label="Use Link on Click"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.useLinkOnClick"
      on-change="ctrl.onConfigChanged()"></gf-form-switch>

    <gf-form-switch ng-if="ctrl.panel.useLinkOnClick" class="gf-form"
      label="Open in new Tab"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.openLinkInNewTab"
      on-change="ctrl.onConfigChanged()"></gf-form-switch>

    <div ng-if="ctrl.panel.useLinkOnClick" class="gf-form">
      <label class="gf-form-label width-14">Link URL
        <info-popover mode="right-normal">Specify an URL (relative or absolute)<br><br>
          Use special variables to specify cell values: <br>
          <ul>
            <li>$__time_from, $__time_to refer to the current relative selection in the dashboards time range.</li>
            <li>$__time_abs_from, $__time_abs_to refer to the absolut time borders of the clicked value range.</li>
            <li>$__time_utc_from, $__time_utc_to refer to the absolut time borders in UTC time of the clicked value range.</li>
            <li>$__cell_n refers to Nth column value in current row. Column indexes are started from 0.</li>
            <li>$__cell_0 is the name of the hovered series.</li>
            <li>$__cell_1 is the primary value.</li>
            <li>$__cell_2 is the display series value (if enabled) or the first column from the additional data columns.</li>
            <li>$__cell_n with higher Ns refers to additional data columns.</li>
          </ul> 
        </info-popover>
      </label>
      <input type="text" ng-model="ctrl.panel.gotoLink" class="gf-form-input width-30" ng-blur="ctrl.render()" min="50"/>
    </div>

    <div ng-if="ctrl.panel.useLinkOnClick" class="gf-form">
      <label class="gf-form-label width-14">Tooltip
        <info-popover mode="right-normal">Specify a tool tip<br><br>
          Use special variables to specify cell values: <br>
          <ul>
            <li>$__time_from, $__time_to refer to the current relative selection in the dashboards time range.</li>
            <li>$__time_abs_from, $__time_abs_to refer to the absolut time borders of the clicked value range.</li>
            <li>$__time_utc_from, $__time_utc_to refer to the absolut time borders in UTC time of the clicked value range.</li>
            <li>$__cell_n refers to Nth column value in current row. Column indexes are started from 0.</li>
            <li>$__cell_0 is the name of the hovered series.</li>
            <li>$__cell_1 is the primary value.</li>
            <li>$__cell_2 is the display series value (if enabled) or the first column from the additional data columns.</li>
            <li>$__cell_n with higher Ns refers to additional data columns.</li>
          </ul> 
        </info-popover>
      </label>
      <input type="text" ng-model="ctrl.panel.gotoLinkToolTip" class="gf-form-input width-30" ng-blur="ctrl.render()" min="50"/>
    </div>
    </div>
</div>
